:root {
  --dark: #000000;
  --light: #ffffff;
  --background: #f0ead6;
  --primary-colour: #ebb177;
  --accent-colour: #af6639;
}
body {
  padding: 0px;
  margin: 0px;
  // I'm actually gonna lose it if I have to keep writing important to override bootstrap
  background-color: var(--background) !important;
  // color: #4bab51 !important;
  //TODO: Render Roboto Serif
  // font-family: "Roboto Serif", Georgia, "Times New Roman", Times, serif !important;
  font-family:
    "Roboto Serif" "Segoe UI",
    "Gill Sans",
    "Gill Sans MT",
    //   Calibri,
    //   "Trebuchet MS",
    sans-serif !important;
  flex-wrap: wrap;
}
header {
  position: sticky;
  top: 0;
  /* background-color: white; */
  width: auto;
  font-size: 45px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

header li {
  display: inline-block;
}

.intro {
  // border: thick solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0rem 15%;
}
.intro-text {
  // border: thick solid black;
  width: 150%;
}

.intro-picture {
  // border: thick solid black;
  display: flex;
  justify-content: center;
}

.greeting {
  color: var(--primary-colour);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

.nav-buttons {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.navigation-button {
  //buttons in the style of content class
  background-color: var(--primary-colour);
  text-align: center;
  border: 0.15em solid var(--accent-colour);
  border-radius: 15px;
}

.navigation-button a {
  font-weight: bold;
  text-decoration: none;
  color: var(--dark);
}

.about {
  //border: thick solid black;
}
.work-exp {
  //border: thick solid black;
}
.skills {
  //border: thick solid black;
}
.projects {
  //border: thick solid black;
}
.education {
  //border: thick solid black;
}
.hobbies {
  //border: thick solid black;
}

.content {
  // background-color: rgb(169, 255, 169);
  background-color: var(--primary-colour);
  text-align: center;
  border-radius: 30px;
  border: 0.15em solid var(--accent-colour);
  padding: 10px;
  /* padding-left: 5%; */
  margin: 1rem;
}

.banner-bg-image {
  // background-image: url(Creator-flower-boy.jpg);
  // background-position: 0% 25%;
  background-image: url(city_background_night.jpg);
  background-position: 0% 0%;
}
.banner-bg-image:hover {
  //TODO: Bring text to front and only opac background.
  //TODO: Text adjust breaks sidenav in Firefox
  opacity: 0.65;
  font-size: 1.05em;
  transition-duration: 500ms;
}
.footer-text {
  color: var(--light); //#4bab51; //forest-green #2b662f
  font-size: 1em;
  padding: 1em;
  text-align: left;
  //TODO: Webkit breaks in Firefox.
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

@media screen and (min-width: 1060px) {
  body {
    font-size: large !important;
  }
  .sidenav {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0px;
    width: 5% !important;
    height: 100%;
    overflow: auto;
    background-color: #f1f1f1;
  }
  .sidenav-content {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin: 45% 0; */
  }

  .intro-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .body {
    padding-left: 5%;
  }
}
/* why does using display in classes work but not within tags? */
@media screen and (max-width: 1060px) {
  body {
    font-size: small !important;
  }
  .sidenav {
    background-color: #f1f1f1;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .intro {
    flex-wrap: wrap;
  }
  .intro-picture {
    display: none;
  }
  .sidenav-content {
    justify-content: space-around;
  }
}
